/* You can add global styles to this file, and also import other style files */
:root{
    --blueBackground: 0,174,194;
    --greyBackround:153,153,153;
}
*{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}